In [2]:
 a=(3,1,2,5,4,6)
 len(a)

6

In [11]:
x = ["lion", "tiger"]
x.append("elephant")  
print(x)

['lion', 'tiger', 'elephant']

In [21]:
x = ['leopard', 'tige', 'elephant', 'cat']
x.remove('cat')
print(x)

['leopard', 'tige', 'elephant']

In [22]:
# animals list
animals = ['cat', 'dog', 'rabbit']

# Add 'guinea pig' to the list
animals.append('guinea pig')

print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'rabbit', 'guinea pig']

In [23]:
word = "happy"
list(word)

['h', 'a', 'p', 'p', 'y']

In [34]:
slm = [1, 3, 5, 6]
slm.remove(3)
slm.sort()
print(slm)

[1, 5, 6]

In [35]:
solar = "Earth" ,"mount", "Neptün"
print(solar, type(solar), sep='\n')

('Earth', 'mount', 'Neptün')
<class 'tuple'>

In [38]:
(lambda  x :  "odd" if x % 2 != 0 else "even")(2)

'even'

In [39]:
(lambda a, b : (a + b)/2)(4, 5)

4.5

In [42]:
sayilar = [1, 3, 4, 32, 5, 67, 8, 9]
for a in sayilar :
        print(a, ":", (lambda x : "odd" if x % 2 != 0 else "even")(a))

1 : odd
3 : odd
4 : even
32 : even
5 : odd
67 : odd
8 : even
9 : odd

In [46]:
function =  lambda x : x ** 2
terable = [1, 3, 5]

result = map(function, terable)
print(*result)

1 9 25

In [50]:
list1 = [1, 3, 4, 6, 7, 56, 43, 22, 54, 7, 90, ]

even = filter(lambda x : x % 2 == 0 , list1)

print("Even numbers are :", list(even))

Even numbers are : [4, 6, 56, 22, 54, 90]

In [52]:
n = int(input("Give a number :"))

if n % 2 == 0 :
    print("weird")
if n % 2 == 0 and 5 >= n >= 2 :
    print("not weird")

weird
not weird